---
// Importações
import Image from "astro/components/Image.astro";
import about1Img from "../assets/all/aboutImg1.png";
import about2Img from "../assets/all/aboutImg2.png";
import Icon from "./Icon.astro";
---

<div id="about"></div>
<div id="container">
  <div class="container-content-element">
    <div class="block" data-observe>
      <section class="block-content-element">
        <h2>Quem sou</h2>
        <p>
          Cleverson Borges é advogado, formado pelas Faculdades Integradas
          Vianna Júnior em Juiz de Fora e conta com mais de 20 anos de
          experiência profissional nas mais diversas áreas (vendedor, auxiliar
          administrativo, representante de atendimento de call center).
        </p>
        <p class="enphases">
          Atua há mais de 10 anos em vários ramos do Direito, representando com
          zelo e compromisso cada um dos seus clientes.
        </p>
      </section>
      <Icon
        xmlns="http://www.w3.org/2000/svg"
        color="rgba(255,255,255,0.1)"
        width="300"
        height="300"
        viewBox="0 0 576 512"
        path="M112 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm40 304l0 128c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-223.1L59.4 304.5c-9.1 15.1-28.8 20-43.9 10.9s-20-28.8-10.9-43.9l58.3-97c17.4-28.9 48.6-46.6 82.3-46.6l29.7 0c33.7 0 64.9 17.7 82.3 46.6l44.9 74.7c-16.1 17.6-28.6 38.5-36.6 61.5c-1.9-1.8-3.5-3.9-4.9-6.3L232 256.9 232 480c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-128-16 0zM432 224a144 144 0 1 1 0 288 144 144 0 1 1 0-288zm0 240a24 24 0 1 0 0-48 24 24 0 1 0 0 48zM368 321.6l0 6.4c0 8.8 7.2 16 16 16s16-7.2 16-16l0-6.4c0-5.3 4.3-9.6 9.6-9.6l40.5 0c7.7 0 13.9 6.2 13.9 13.9c0 5.2-2.9 9.9-7.4 12.3l-32 16.8c-5.3 2.8-8.6 8.2-8.6 14.2l0 14.8c0 8.8 7.2 16 16 16s16-7.2 16-16l0-5.1 23.5-12.3c15.1-7.9 24.5-23.6 24.5-40.6c0-25.4-20.6-45.9-45.9-45.9l-40.5 0c-23 0-41.6 18.6-41.6 41.6z"
      />
    </div>
    <div class="block who-i-am" data-observe>
      <section class="block-content-element">
        <h2>O que eu faço</h2>
        <p>
          Advogado com conhecimento em diversas áreas do direito, oferecendo
          soluções personalizadas e estratégicas para proteger seus interesses.
          Compromisso com ética, agilidade e resultados. Vamos conversar e
          encontrar o melhor caminho para você ou sua empresa?
        </p>
      </section>
      <div class="svg">
        <Icon
          xmlns="http://www.w3.org/2000/svg"
          color="rgba(255,255,255,0.1)"
          width="300"
          height="300"
          viewBox="0 0 640 512"
          path="M117.9 62.4c-16.8-5.6-25.8-23.7-20.2-40.5s23.7-25.8 40.5-20.2l113 37.7C265 15.8 290.7 0 320 0c44.2 0 80 35.8 80 80c0 3-.2 5.9-.5 8.8l122.6 40.9c16.8 5.6 25.8 23.7 20.2 40.5s-23.7-25.8-40.5-20.2L366.4 145.2c-4.5 3.2-9.3 5.9-14.4 8.2L352 480c0 17.7-14.3 32-32 32l-192 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l160 0 0-294.7c-21-9.2-37.2-27-44.2-49l-125.9-42zM200.4 288L128 163.8 55.6 288l144.9 0zM128 384C65.1 384 12.8 350 2 305.1c-2.6-11 1-22.3 6.7-32.1l95.2-163.2c5-8.6 14.2-13.8 24.1-13.8s19.1 5.3 24.1 13.8l95.2 163.2c5.7 9.8 9.3 21.1 6.7 32.1C243.2 350 190.9 384 128 384zm382.8-92.2L438.4 416l144.9 0L510.8 291.8zm126 141.3C626 478 573.7 512 510.8 512s-115.2-34-126-78.9c-2.6-11 1-22.3 6.7-32.1l95.2-163.2c5-8.6 14.2-13.8 24.1-13.8s19.1 5.3 24.1 13.8l95.2 163.2c5.7 9.8 9.3 21.1 6.7 32.1z"
        />
      </div>
    </div>
  </div>
</div>

<style>
  #container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
  }

  .container-content-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    font-size: 16px;
    line-height: 30px;
  }

  .block-content-element {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.6s ease,
      transform 0.6s ease;
  }

  .block-content-element h2 {
    color: var(--secondary-color);
  }

  .block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
  }

  .who-i-am {
    display: flex;
    flex-direction: row-reverse;
  }

  .enphases {
    color: var(--secondary-color);
  }

  .block-content-element {
    opacity: 0;
    transform: translateY(50px);
    transition:
      opacity 1s ease,
      transform 1s ease;
  }

  [data-observe].visible .block-content-element {
    opacity: 1;
    transform: translateY(0);
  }
  @media (max-width: 948px) {
    svg {
      display: none;
    }
    .block-content-element {
      width: 100%;
      max-width: 100%;
      padding: 0 10px;
    }
  }
</style>

<script type="text/javascript">
  if (typeof window !== "undefined") {
    document.addEventListener("DOMContentLoaded", () => {
      const options = {
        root: null,
        rootMargin: "0px",
        threshold: 0.1,
      };

      const handleIntersection = (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("visible");
          } else {
            entry.target.classList.remove("visible");
          }
        });
      };

      const observer = new IntersectionObserver(handleIntersection, options);
      const blocks = document.querySelectorAll("[data-observe]");
      blocks.forEach((block) => observer.observe(block));
    });
  }
</script>
