<script>
  class CustomButton extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.addEventListener("click", this.handleClick);
    }

    handleClick() {
      window.open(
        "https://wa.me/5532920007640?text=Olá! Venho do Site e preciso de uma consultoria",
        "_blank"
      );
    }
  }

  customElements.define("custom-button", CustomButton);
</script>
<div class="container-button">
  <custom-button>Mande sua Dúvida</custom-button>
</div>

<style>
  .container-button {
    width: 100%;
    min-width: 300px;
    max-width: 350px;
    background-color: var(--main-color);
    color: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    padding: 25px;
    border-radius: 4px;
    font-size: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    box-sizing: border-box;
  }
  @media (max-width: 500px) {
    .container-button {
      max-width: 450px;
    }
  }
</style>
