---
import CardService from "./CardService.astro";
const { items } = Astro.props;

const itemsPerPage = 4;
const totalPages = Math.ceil(items.length / itemsPerPage);
---

<div class="relative w-full overflow-hidden">
  <div
    id="slidesContainer"
    class="flex transition-transform duration-1500 ease-in-out"
    style={`width: ${totalPages * 100}%`}
  >
    {
      Array.from({ length: totalPages }).map((_, pageIndex) => (
        <div
          class="flex-shrink-0 flex w-full"
          style={`width: ${100 / totalPages}%`}
        >
          {items
            .slice(pageIndex * itemsPerPage, (pageIndex + 1) * itemsPerPage)
            .map((item: any, itemIndex: any) => (
              <div class="carousel-slide flex-shrink-0 w-1/4 p-2 transition-transform duration-800 ease-in-out">
                <CardService {...item} />
              </div>
            ))}
          {pageIndex === totalPages - 1 &&
            Array.from({
              length: itemsPerPage - (items.length % itemsPerPage),
            }).map((_, emptyIndex: any) => (
              <div class="carousel-slide flex-shrink-0 w-1/4 p-2" />
            ))}
        </div>
      ))
    }
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    let currentSlide = 0;
    const bullets = document.querySelectorAll(".bullet");
    const slidesContainer = document.getElementById("slidesContainer");
    const slides = document.querySelectorAll(".carousel-slide");
    const totalPages = Math.ceil(slides.length / 4);

    if (!slidesContainer) return;

    const showSlide = (index: any) => {
      currentSlide = index;
      slidesContainer.style.transform = `translateX(-${50 * index}%)`;
      bullets.forEach((bullet, i) => {
        bullet.classList.toggle("bg-green-500", i === index);
      });
    };

    bullets.forEach((bullet, index) => {
      bullet.addEventListener("click", () => {
        showSlide(index);
      });
    });

    setInterval(() => {
      currentSlide = (currentSlide + 1) % totalPages;
      showSlide(currentSlide);
    }, 3000);

    showSlide(currentSlide);
  });
</script>

<style>
  .carousel-slide {
    transition: linear 700ms ease-in-out;
  }
  .bullet.bg-green-500 {
    background-color: #000;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: none;
    margin-top: 20px;
  }
  .bullet {
    background-color: #f1f1f1;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: none;
  }
</style>
