<!doctype html>
<html>
  <head>
    <title>Simple Marker</title>
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcarvyTFDt5sT-x26KiCLtKV-iwJan5oc&callback=console.debug&libraries=maps,marker&v=beta"
    ></script>
    <style>
      gmp-map {
        height: 50%;
      }
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <gmp-map
      center="-21.835674285888672,-43.12068176269531"
      zoom="16"
      map-id="DEMO_MAP_ID"
    >
      <gmp-advanced-marker
        position="-21.835674285888672,-43.12068176269531"
        title="Cleverson Borges Advogado"></gmp-advanced-marker>
    </gmp-map>
  </body>
</html>
