---
import {Picture } from "astro:assets";
import logoImage from "../assets/logo/logo.png";
---

<div class="navbar">
  <div class="logo">
    <img
      class="logo"
      src={logoImage.src}
      alt={"Imagem logo escritório cleverson borges sociedade individual de advocacia"}
      decoding="async"
      loading="lazy"
      width="200"
    />
  </div>
  <div class="menu">
    <a href="#home">Início</a>
    <a href="#about">Quem Sou</a>
    <a href="#services">Meus Serviços</a>
    <a href="#contact">Contato</a>
  </div>
  <div class="hamburger" id="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const hamburger = document.getElementById("hamburger");
    const menu = document.querySelector(".navbar .menu");

    if (hamburger && menu) {
      hamburger.addEventListener("click", () => {
        menu.classList.toggle("active");
      });
    }
  });
</script>
<style>
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background: rgba(51, 51, 51, 0.8);
    backdrop-filter: blur(10px);
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }

  .menu {
    display: flex;
    gap: 20px;
    flex: 2;
    font-size: 14px;
    justify-content: center;
    font-weight: 100;
  }

  .menu a {
    color: white;
    text-decoration: none;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
  }

  .logo {
      padding: 10px;
      object-fit: cover;

    }
  

  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      border-radius: 0px 0px 4px 20px;
      top: 40px;
      right: 0; /* Alinhado à direita */
      width: 30%; /* Ocupa 30% da largura da tela */
      background: rgba(51, 51, 51, 0.8);
      backdrop-filter: blur(10px);
      padding: 20px;
      text-align: left; /* Itens alinhados à direita */
    }

    .menu.active {
      display: flex;
    }

    .hamburger {
      display: flex;
    }
   
</style>
