<script>
  if (typeof window !== "undefined") {
    const hamburger = document.getElementById("hamburger");
    const menu = document.querySelector(".navbar .menu");

    if (hamburger && menu) {
      hamburger.addEventListener("click", () => {
        menu.classList.toggle("active");
      });
    }
  }
</script>

<div class="navbar">
  <div class="logo">Logo</div>
  <div class="menu">
    <a href="#home">Início</a>
    <a href="#about">Quem Sou</a>
    <a href="#services">Meus Serviços</a>
    <a href="#contact">Contato</a>
  </div>
  <div class="hamburger" id="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<style>
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(51, 51, 51, 0.8);
    backdrop-filter: blur(10px);
    color: white;
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    z-index: 1000;
  }

  .menu {
    display: flex;
    gap: 20px;
    flex: 2;
    font-size: 14px;
    justify-content: center;
    font-weight: 100;
  }

  .menu a {
    color: white;
    text-decoration: none;
  }

  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    flex: 1;
    justify-content: flex-end;
  }

  .hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
  }

  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      background: rgba(51, 51, 51, 0.8);
      backdrop-filter: blur(10px);
      width: 30%;
      padding: 20px;
      text-align: center;
    }

    .menu.active {
      display: flex;
    }

    .hamburger {
      display: flex;
      align-items: flex-end;
      padding-right: 30px;
    }
  }
</style>
