---
import { Image } from "astro:assets";
import personImage from "../assets/person/person.png";
import Button from "./Button.astro";
---

<script type="text/javascript">
  if (typeof window !== "undefined") {
    document.addEventListener("DOMContentLoaded", () => {
      const options = {
        root: null,
        rootMargin: "0px",
        threshold: 0.1,
      };

      const handleIntersection = (entries, observer) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("visible");
          } else {
            entry.target.classList.remove("visible");
          }
        });
      };

      const observer = new IntersectionObserver(handleIntersection, options);
      const blocks = document.querySelectorAll("[data-observe]");
      blocks.forEach((block) => observer.observe(block));
    });
  }
</script>

<div id="container">
  <div class="container-content">
    <div class="header-newslatter-section">
      <div class="container-person-img">
        <img
          src={personImage.src}
          alt="Cleverson Borges Advogado foto de Perfil"
          loading="lazy"
          height={500}
        />
      </div>
      <div class="container-content-text" data-observe>
        <div class="content-effect">
          <h1>Cleverson Borges Advogado</h1>
        </div>
        <p class="content-effect">
          Sou Cleverson Borges, advogado formado pelas Faculdades Integradas
          Vianna Júnior, e há mais de 20 anos venho acumulando experiência em
          diferentes áreas. Sei que cada cliente tem uma história única, e é por
          isso que ofereço soluções jurídicas sob medida, sempre com ética,
          agilidade e foco em resultados. Seja para você ou sua empresa, meu
          compromisso é garantir sua segurança jurídica da melhor forma
          possível. Vamos conversar? Juntos, encontramos o melhor caminho para
          resolver o que você precisa!
        </p>
        <Button />
      </div>
    </div>
    <span class="divisor-trace"> &#60;&#60;&#60; </span>
    <div class="container-newslatter-footer" data-observe="">
      <div class="container-newslatter-text">
        <h2>Receba Dicas Semanais</h2>
        <p class="paragraph-content-newslatter">
          Informações relevantes sobre economia, direito, curiosidades. Todas as
          Semanas!
        </p>
      </div>
      <div class="container-newslatter-form">
        <div>
          <form action="" class="newslatter-form">
            <input
              type="email"
              name="email"
              id=""
              placeholder="Digite seu email"
            />
            <input type="submit" value="Inscrever" />
          </form>
        </div>
        <span class="alert-content">Fique por dentro de tudo.</span>
      </div>
    </div>
  </div>
</div>

<style>
  #container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-content {
    display: flex;
    width: 100%;
    max-width: 1200px;
    gap: 40px;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos horizontalmente */
  }
  .container-content-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    align-self: flex-end;
    color: var(--light-color);
    line-height: 24px;
  }
  .container-content-text > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  .container-content-text > div > h1 {
    color: var(--secondary-color);
    font-weight: 100;
  }
  .container-content-text > div > h1,
  h2 {
    margin: 0;
  }
  .header-newslatter-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  .header-newslatter-section div {
    max-width: 530px;
    min-width: 300px;
  }
  .container-newslatter-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
    margin-bottom: 20px;
  }
  .container-newslatter-footer div {
    width: 100%;
    min-width: 300px;
    max-width: 530px;
  }
  .container-person-img {
    display: flex;
    align-items: flex-end;
  }
  @media (max-width: 768px) {
    .container-person-img {
      width: 100%;
    }
    .header-newslatter-section div {
      display: flex;
      max-width: none;
      align-items: center;
      justify-content: center;
    }
    .container-content-text {
      display: flex;
      text-align: left !important;
    }
    h1 {
      font-size: 22px;
    }

    .container-newslatter-footer {
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .container-content {
      padding: 0 20px;
    }
    .container-button {
      width: 100%;
    }
  }
  @media (max-width: 948px) {
    .container-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
    h1 {
      font-size: 26px;
    }
    .header-newslatter-section,
    .container-newslatter-footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .container-content-text,
    .container-newslatter-text {
      text-align: center;
    }
    .container-content-text {
      max-width: 1000px !important;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  }
  .container-person-img img {
    width: 400px;
    object-fit: contain;
    object-position: bottom;
  }
  .container-newslatter-text {
    font-size: 16px;
    color: var(--light-color);
  }
  .container-newslatter-text p {
    font-size: 18px;
    font-weight: 100;
    margin: 0;
  }
  .container-newslatter-text h2 {
    font-size: 24px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    color: var(--secondary-color);
  }
  .divisor-trace {
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--secondary-color);
  }
  .container-newslatter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .container-newslatter-form div {
    background-color: rgba(255, 255, 255, 0.1);
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px;
  }
  .newslatter-form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
  }
  .newslatter-form input[type="email"] {
    width: 80%;
    height: 25px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: var(--light-color);
  }
  .newslatter-form input[type="submit"] {
    font-size: 12px;
    border-radius: 4px;
    border: none;
    width: 20%;
    min-width: 100px;
    cursor: pointer;
    background-color: #ebebf0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .alert-content {
    font-size: 12px;
    color: var(--light-color);
  }
  .content-effect {
    opacity: 0;
    transform: translateX(50px);
    transition:
      opacity 1s ease,
      transform 1s ease;
  }
  .container-newslatter-text {
    opacity: 0;
    transform: translateX(-50px);
    transition:
      opacity 1s ease,
      transform 1s ease;
  }
  [data-observe].visible .content-effect {
    opacity: 1;
    transform: translateX(0);
    transition:
      opacity 1s ease,
      transform 1s ease;
  }
  [data-observe].visible .container-newslatter-text {
    opacity: 1;
    transform: translateX(0);
  }
  @media (max-width: 500px) {
    .container-content-text {
      padding: 10px;
    }
    .container-content-text > div > h1 {
      font-size: 20px;
    }
    .container-content-text > div > h2 {
      font-size: 18px;
    }
    .content-effect {
      font-size: 16px;
      line-height: 28px;
    }
    .paragraph-content-newslatter {
      font-size: 14px !important;
      margin-bottom: 10px !important;
    }
    .container-newslatter-form > div {
      width: 90%;
      margin: 0 auto;
    }
  }
</style>
