---
import Icon from "./Icon.astro";
import WppImage from "../assets/all/wppimg.png";

const whatsappLink =
  "https://wa.me/5511999999999?text=Olá! Venho do Site e preciso de uma consultoria";
---

<style>
  .whatsapp-fixed-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  .whatsapp-flex-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .container-text-span {
    background-color: #5cb042;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 0px 12px 0;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    right: 38px;
    z-index: -1;
    max-width: 0;
    transition:
      max-width 0.9s ease,
      padding 0.9s ease;
  }
  .span-text {
    padding: 0 10px;
    opacity: 0;
    transition: opacity 0.9s ease;
    color: #ffffff;
    font-size: 14px;
    box-shadow: -8px 9px 10px -4px rgba(0, 0, 0, 0.06);
    font-weight: 100;
  }
  .whatsapp-flex-container:hover .container-text-span {
    max-width: 200px; /* Ajuste conforme necessário */
    padding: 0 10px; /* Espaçamento entre o ícone e o texto */
  }
  .whatsapp-flex-container:hover .span-text {
    opacity: 1;
  }
</style>

<div class="whatsapp-fixed-container">
  <a href={whatsappLink} target="_blank" rel="noopener noreferrer">
    <div class="whatsapp-flex-container">
      <div class="container-text-span">
        <span class="span-text">Entre em contato agora!</span>
      </div>
      <img
        class="logo"
        src={WppImage.src}
        alt={"Imagem logo escritório cleverson borges sociedade individual de advocacia"}
        decoding="async"
        loading="lazy"
        width="80"
      />
    </div>
  </a>
</div>
