---
/* Caso você precise incluir algo no script server-side, insira aqui */
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Cleverson Advogado</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      html,
      body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--background-color);
        font-family: var(--text-paragraph-font);
        overflow-y: scroll; /* Mantém o scroll funcional */
        scroll-behavior: smooth;
      }
      /* Esconde a barra de rolagem em diferentes navegadores */
      html {
        scrollbar-width: none; /* Firefox */
      }
      body {
        -ms-overflow-style: none; /* IE e Edge */
      }
      body::-webkit-scrollbar {
        display: none; /* Chrome, Edge e Safari */
      }

      :root {
        --background-color: #1b1a1a;
        --main-color: #5f2823;
        --secondary-color: #c86c62;
        --light-color: #ebebf0;
        --light-input-background: rgba(255, 255, 255, 0.1);
        --success-color: #39d98a;
        --text-paragraph-font: "Merriweather", serif;
        --text-title-font: "Roboto", sans-serif;
        scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
